.button {
  font-family: inherit;
  font-size: 2.4rem;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #4683bc;
  border-bottom: 6px solid #4683bc;
  background-color: #ced4da;
  color: #071e33;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  transition: all 50ms;
}

.button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #4683bc;
}

.button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #4683bc;
  border-bottom: 3px solid #4683bc;
  margin: 1px 1px 3px;
}
